/*HTML Tags*/
h3 {
  padding-left: 10px;
  font-family: "Comic Sans MS", georgia, sans-serif;
}

p {
  padding: 0 10px;
}

ul {
  padding: 0 10px;
}

li {
  list-style-type: none;
  margin-bottom: 2px;
}

body {
  background-color: #3b5998;
}

/*Animal Trading Card Containers*/
.card-container {
  border: solid;
  border-width: thin;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.animal-info-container {
  margin: 10px 10px;
  border: solid;
  border-width: thin;
  width: 298px;
}

/*Animal Trading Card Image*/
.animal-image {
  padding: 5px 10px;
  position: relative;
}

/*Interesting Animal Fact*/
.interesting-fact {
  font-style: italic;
}

/*Animal List Items*/
.label-style {
  font-weight: bold;
}
